@import 'styles/common';

.pagination {
  @extend .flexCenter;
  gap: 1rem;

  li {
    list-style-type: none;
    color: $black;
    cursor: pointer;

    &:hover {
      color: $primaryClr;
    }
  }
}
