@import 'styles/common';

.btn {
  @extend .flexCenter, .clearStyles;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: 'Preahvihear';
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  color: $white;
  background-color: $black;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

.secondary {
  border: 1px solid $veryLightGray;
  color: $black;
  background-color: transparent;

  &:hover {
    border-color: $black;
    opacity: 1;
  }
}
