@import 'styles/common';

.container {
  @extend .flexCol;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: 2rem;
}

.verticalLine {
  margin-left: 0.75rem;
  width: 1px;
  height: 100px;
  background-color: $black;
}

.links {
  @extend .flexCenterCol;
  gap: 1rem;
}

.link {
  padding: 0;
}

@media (max-width: 648px) {
  .container {
    left: 1rem;
  }

  .verticalLine {
    height: 80px;
  }
}
