@import 'styles/common';

.section {
  @extend .flexCol;
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
}

.main {
  @extend .spaceBetween;
  padding: 4rem 2rem;
  gap: 1rem;
}

.left {
  @extend .flexColStart;
  width: 50%;
  height: 100%;
  gap: 3rem;
  padding: 0 3rem;

  h3 {
    @extend .flexCenter;
    gap: 0.75rem;
    font-family: 'Preahvihear', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    white-space: nowrap;
    color: $black;

    span {
      @extend .flexCenter;
    }
  }
}

.logo {
  @extend .flexCenter;
}

.secondaryText {
  font-family: 'Preahvihear', sans-serif;
  font-weight: 400;
  font-size: 14.9843px;
  line-height: 27px;
  color: $lightGray;
}

.right {
  @extend .flexColEnd;
  width: 50%;
}

.statusRow {
  @extend .flexStart;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  padding: 0.75rem 0.5rem;
  white-space: nowrap;
  color: $veryLightGray;
  background-color: $black;

  span {
    color: $white;
  }
}

.yellowBox {
  width: 1rem;
  height: 1rem;
  background-color: $yellow;
}

.bottomSection {
  @extend .flexColStart;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}

.upperText {
  margin-left: 1rem;
  font-family: 'Preahvihear', sans-serif;
  font-weight: 400;
  font-size: 26.8653px;
  line-height: 49px;
  color: $black;
  text-decoration: underline;
}

.mainText {
  max-width: 374px;
  font-family: 'Preahvihear', sans-serif;
  font-weight: 400;
  font-size: 48.5251px;
  line-height: 61px;
  color: $black;

  span {
    color: $primaryClr;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -20px;
      translate: 0 -50%;
      width: 130%;
      height: 68px;
      border: 1px solid $black;
      border-radius: 100%;
      animation: spin 10s ease-in-out infinite alternate;
      z-index: -1;
      background-color: transparent;
    }

    &::before {
      animation-delay: 0.25s;
    }

    &::after {
      animation-delay: 0.5s;
      animation-direction: alternate-reverse;
    }
  }
}

.miniArtBox {
  position: absolute;
  top: 0;
  right: 4rem;
  width: 12vw;
}

.arrowPointingDown {
  position: absolute;
  top: -7rem;
  left: 8rem;
  width: 12vw;
}

@media (max-width: 936px) {
  .arrowPointingDown {
    top: -6rem;
    left: 16rem;
  }
}

@media (max-width: 648px) {
  .main {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .left,
  .right,
  .statusRow {
    width: 100%;
  }

  .left {
    align-items: center;

    h3,
    p {
      text-align: center;
    }
  }

  .right {
    align-items: center;
  }

  .upperText {
    margin-left: 0;
  }

  .mainText {
    font-size: 43px;

    span::before,
    span::after {
      display: none;
    }
  }

  .arrowPointingDown {
    top: -1rem;
    left: 50%;
    translate: -50% 0;
  }
}

@media (max-width: 360px) {
  .left {
    padding: 0;
  }

  .logo {
    padding-left: 3rem;
  }

  .left h3 {
    white-space: normal;
    padding-left: 2rem;
  }

  .left h3 > span:first-of-type,
  .miniArtBox,
  .arrowPointingDown {
    display: none;
  }
}

@keyframes spin {
  0% {
    height: 80px;
    rotate: 30deg;
    border-color: $halfWhite;
  }
  100% {
    height: 68px;
    rotate: (1turn);
    border-color: $black;
  }
}
