@import 'styles/common';

.section {
  @extend .flexCol;
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
}

.main {
  @extend .spaceBetween;
  padding: 4rem 2rem;
  gap: 1rem;
}

.left {
  @extend .flexColStart;
  width: 50%;
  height: 100%;
  gap: 3rem;
  padding: 0 3rem;

  h3 {
    @extend .flexCenter;
    gap: 0.75rem;
    font-family: 'Preahvihear';
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    white-space: nowrap;
    color: $black;

    span {
      @extend .flexCenter;
    }
  }
}

.logo {
  @extend .flexCenter;
}

.secondaryText {
  font-family: 'Preahvihear';
  font-weight: 400;
  font-size: 14.9843px;
  line-height: 27px;
  color: $lightGray;
}

.right {
  @extend .flexColEnd;
  width: 50%;
}

.statusRow {
  @extend .flexStart;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  padding: 0.75rem 0.5rem;
  white-space: nowrap;
  color: $veryLightGray;
  background-color: $black;

  span {
    color: $white;
  }
}

.yellowBox {
  width: 1rem;
  height: 1rem;
  background-color: $yellow;
}

.bottomSection {
  @extend .flexColStart;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}

.upperText {
  margin-left: 1rem;
  font-family: 'Preahvihear';
  font-weight: 400;
  font-size: 26.8653px;
  line-height: 49px;
  color: $black;
  text-decoration: underline;
}

.mainText {
  max-width: 374px;
  font-family: 'Preahvihear';
  font-weight: 400;
  font-size: 48.5251px;
  line-height: 61px;
  color: $black;

  span {
    color: $primaryClr;
  }
}

.miniArtBox {
  position: absolute;
  top: 0;
  right: 4rem;
  width: 12vw;
}

.arrowPointingDown {
  position: absolute;
  top: -7rem;
  left: 8rem;
  width: 12vw;
}

@media (max-width: 936px) {
  .arrowPointingDown {
    top: -6rem;
    left: 16rem;
  }
}

@media (max-width: 648px) {
  .main {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .left,
  .right,
  .statusRow {
    width: 100%;
  }

  .left {
    align-items: center;

    h3,
    p {
      text-align: center;
    }
  }

  .right {
    align-items: center;
  }

  .arrowPointingDown {
    top: -1rem;
    left: 50%;
    translate: -50% 0;
  }
}

@media (max-width: 360px) {
  .left {
    padding: 0;
  }

  .logo {
    padding-left: 3rem;
  }

  .left h3 {
    white-space: normal;
    padding-left: 2rem;
  }

  .left h3 > span:first-of-type,
  .miniArtBox,
  .arrowPointingDown {
    display: none;
  }
}
