$white: #fff;
$black: #000;

$gray0: #4a4a4a;
$silver: #d9d9d9;

$halfWhite: #f9f9f9;
$lightGray: #666;
$veryLightGray: #999;
$slateGray: #939292;
$charcoalGray: #545353;
$ashGray: #a39e9e;
$midnightBlue: #002e64;
$midnightBlue2: #43495b;

$primaryClr: #ff0000;
$linkHover: #0af;
$lightRed: #f32400;
$red: red;
$yellow: #fed141;
$green: #05ee2a;
$tealGreen: #03a65a;
$amberOrange: #f88f01;

$veryPaleBlue: rgba(0, 118, 255, 0.1);
$blueBoxShadow: rgb(0 118 255 / 39%);
$blueBoxShadowHover: rgb(0 118 255 / 23%);
$paleBlueBoxShadow: rgba(11, 65, 126, 0.15);
$paleBlueBoxShadowHover: rgba(11, 65, 126, 0.15);
$lightRedBoxShadow: #f3240092;
$lightRedBoxShadowHover: #f3240080;

// transparent colorspace
$tWhite: rgba(255, 255, 255, 0.1);
$tBlack: rgba(0, 0, 0, 0.1);
$tBlack25: rgba(0, 0, 0, 0.25);
$tHalfWhite: rgba(255, 255, 255, 0.5);
