@import 'styles/common';

.header {
  width: 100%;
  height: 86px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 2px 8px transparent;
  transition: box-shadow 0.25s ease-in-out;
  z-index: 999;

  &.scrolled {
    box-shadow: 0 2px 8px $tBlack;
  }
}

.innerHeader {
  @extend .spaceBetween;
  align-self: center;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem;
}

.navMenu {
  @extend .spaceBetween;
  gap: 2.5rem;
}

.hashLink {
  @extend .flexCenter;
  gap: 0.15rem;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: $slateGray;
  position: relative;

  &::before {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: $lightGray;
    transition: width 0.25s 0.15s ease-in-out;
  }

  &:hover {
    color: $lightGray;

    &::before {
      width: 100%;
    }
  }

  &.active {
    color: $black;

    &::before {
      background-color: $primaryClr;
    }

    span:first-of-type {
      font-weight: 700;
      color: $primaryClr;
    }
  }
}

.menuTrigger {
  @extend .flexCenter, .clearStyles;
  cursor: pointer;
  display: none;

  &:hover {
    svg path {
      fill: $primaryClr;
    }
  }

  svg path {
    transition: fill 0.25s ease-in-out;
  }
}

.mobileNav {
  @extend .flexCenterCol;
  gap: 2rem;
  padding: 1rem 2rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  background-color: $black;
  transform-origin: top right;
  animation: blowUp 0.15s ease-in-out forwards;
  display: none;
  z-index: 1;

  &:not(.showMobileNav) {
    display: none;
  }

  .hashLink {
    &:hover {
      color: $halfWhite;

      &::before {
        background-color: $halfWhite;
      }
    }

    &.active {
      color: $white;
    }
  }
}

@media (max-width: 768px) {
  .navMenu {
    display: none;
  }

  .menuTrigger,
  .mobileNav {
    display: flex;
  }
}

@media (max-width: 648px) {
  .innerHeader {
    padding: 2rem 1rem;
  }
}
